.homeWrapper,
.wrapper {
  width: 100%;
  position: relative;
}

.homeWrapper {
  height: 100vh;
}

.wrapper {
  height: 64vh;
}

.header,
.elements {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.elements > h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0;
  z-index: 1;
}
.elements > h2 {
  margin-top: -0.7rem;
  z-index: 1;
}
.elements .i {
  font-weight: 200;
  font-size: 16px;
  margin-top: 0;
}

.elements > a {
  font-weight: 600;
  z-index: 1;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  color: #000;
  background-color: #ffcc00;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.elements > a:hover {
  background-color: white;
  color: black;
}

.wrapper > .header > section > h1 {
  margin-left: 0;
}

@media (max-width: 700px) {
  .wrapper {
    width: 100%;
    height: 45vh;
    position: relative;
  }
  .wrapper > .header > .elements {
    margin-top: 3rem;
  }
  .wrapper > .header > div {
    display: none !important;
  }

  .homeWrapper > div > .elements {
    top: -20px;
  }

  .wrapper > .header > section > h1 {
    margin: 7rem auto auto auto;
    font-size: 30px;
    white-space: pre-line;
  }
  .elements {
    height: 80%;
    padding-top: 2rem;
  }
  .elements > h1,
  .elements > h2,
  .elements > a {
    margin-left: 0;
    text-align: center;
  }
  .elements > h1 {
    align-self: flex-end;
    font-size: 30px;
    width: 100%;
  }
  .elements .i {
    font-size: 16px;
  }
  .elements > a {
    width: -moz-fit-content;
    width: fit-content;
    align-self: flex-end;
    margin: auto auto 0 auto;
  }
}
